include mlm/tharavu/chorkuviyal.22mar22.tsv.gz
include mlm/tharavu/chorpirappiyal-agarathi.tsv.gz
include mlm/tharavu/orungurri-chellumai-cholloadai.tsv
include mlm/tharavu/test.json
include mlm/tharavu/test.txt

